:root {
    --body-bg: #a4ac86;
    --container-bg: #7A8063;
    --display-bg: #c2c5aa;
    --number-bg: #BEB598;
    --operator-bg: #AE926C;
    --func-bg: #9B6E41;
    --border-color: #424C38;

    --hover-number-bg: #C6BDA0;
    --active-number-bg: #D0C7AA;
    --hover-operator-bg: #B69A74;
    --active-operator-bg: #C0A47E;
    --hover-func-bg: #A37649;
    --active-func-bg: #AD8053;
}

* {
    padding: 0;
    margin: 0;
    font-family: monospace;
    color: #242b1d
}

body {
    background-color: var(--body-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
}

.container {
    width: 370px;
    height: auto;
    margin: auto;
    padding: 10px;
    border: 4px solid var(--border-color);
    border-radius: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4px;
    background-color: var(--container-bg);
    filter: drop-shadow(8px 8px 6px var(--container-bg));
}

button {
    width: 90px;
    height: 90px;
    font-size: 30px;
    border-radius: 48px;
    border: 2px solid var(--border-color);
    transition: background-color 0.05s ease;
    filter: drop-shadow(1px 2px var(--border-color))
}

.container .display {
    text-align: right;
    font-size: 65px;
    width: 360px;
    height: 90px;
    margin-bottom: 2px;
    padding: 0px 5px;
    line-height: 90px;
    border: 4px solid var(--border-color);
    border-radius: 16px;
    background-color: var(--display-bg);
    white-space: nowrap;
}

.row {
    display: flex;
    gap: 4px;
    justify-content: center;
    align-items: center;
}

/* Button coloring + interaction - ${class}-active classes are for js */
.number,
.decimal {
    background-color: var(--number-bg);
}

.number:hover,
.decimal:hover {
    background-color: var(--hover-number-bg);
}

.number:active,
.number-active,
.decimal:active,
.decimal-active {
    background-color: var(--active-number-bg);
}

.operator,
.equal {
    background-color: var(--operator-bg);
}

.operator:hover,
.equal:hover {
    background-color: var(--hover-operator-bg);
}

.disable-hover:hover {
    background-color: var(--active-operator-bg);
}

.operator:active,
.operator-active,
.equal:active,
.equal-active {
    background-color: var(--active-operator-bg);
}

.func {
    background-color: var(--func-bg);
}

.func:hover {
    background-color: var(--hover-func-bg);
}

.func:active,
.func-active {
    background-color: var(--active-func-bg);
}